<div id="footer">
  <p class="purple sans3 lower">&lsaquo;&lsaquo; Designed and Developed by <a href="https://jamessteinbach.com" target="_blank" rel="noopener" class="upper serif2" style="font-size:75%;">James Steinbach</a> &rsaquo;&rsaquo;</p>
</div>
